{% extends "home.html" %}

{% block content %}

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center" style="max-width:100%">
            <div class="col-md-8 my-5">
                <div class="card">
                    <div class="card-header">API</div>
                    <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        <a href="{{ url_for('update_details') }}" class="btn btn-primary btn-lg btn-lg btn-block active mx-auto my-auto" role="button" aria-pressed="true">Personal details <br>View/edit your own personal details </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>

{% endblock %}